<!DOCTYPE html>
<html>
<head>
    <title>Emergency Contacts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>👨‍👩‍👧 Emergency Contacts</h1>

    <form action="/save_contact" method="post">

        <input type="text"
               name="name"
               placeholder="Contact Name"
               required>

        <input type="text"
               name="phone"
               placeholder="Phone Number"
               required>

        <button type="submit">
            Save Contact
        </button>

    </form>

</div>

</body>
</html>