<!DOCTYPE html>
<html>
<head>
    <title>Emergency Services</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🚨 Emergency Services</h1>

    <div class="card">
        <h2>🚔 Police Emergency</h2>
        <a href="tel:112"><h3>112</h3></a>
    </div>

    <div class="card">
        <h2>🆘 National Emergency</h2>
        <a href="tel:112"><h3>112</h3></a>
    </div>

    <div class="card">
        <h2>🏥 Ambulance</h2>
        <a href="tel:108"><h3>108</h3></a>
    </div>

    <div class="card">
        <h2>🚒 Fire Brigade</h2>
        <a href="tel:101"><h3>101</h3></a>
    </div>

    <div class="card">
        <h2>👩 Women Helpline</h2>
        <a href="tel:1090"><h3>1090</h3></a>
    </div>

    <div class="card">
        <h2>👶 Child Helpline</h2>
        <a href="tel:1098"><h3>1098</h3></a>
    </div>

    <div class="card">
        <h2>🚑 Road Accident Emergency</h2>
        <a href="tel:1073"><h3>1073</h3></a>
    </div>

    <div class="card">
        <h2>🌊 Disaster Management</h2>
        <a href="tel:1078"><h3>1078</h3></a>
    </div>

    <div class="card">
        <h2>🚆 Railway Helpline</h2>
        <a href="tel:139"><h3>139</h3></a>
    </div>

    <div class="card">
        <h2>🚨 Cyber Crime Helpline</h2>
        <a href="tel:1930"><h3>1930</h3></a>
    </div>

</div>

</body>
</html>

